/* Reset the whole website css */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

:root {
  /* COLORS */
  --color-red: #EA4949;
  --color-orange: #FBAF00;
  --color-yellow: #FFD639;
  --color-pink: #FFA3AF;
  --color-blue: #007CBE;
  --color-green: #00AF54;
  --color-purple: #9B51E0;

  --color-gray-dark: #303030;
  --color-gray-mid: #AEAEAE;
  --color-gray-light: #F0F0F0;
  --color-white: #FFFFFF;
  --color-beige-light: #F9F5F2;


  /* FONTS */
  --heading1: normal 700 3.6rem / 4.7rem 'IBM Plex Sans', sans-serif;
  --heading2: normal 700 3.2rem / 4.2rem 'IBM Plex Sans', sans-serif;
  --heading3: normal 700 2.4rem / 3.1rem 'IBM Plex Sans', sans-serif;
  --heading4: normal 700 2.0rem / 2.6rem 'IBM Plex Sans', sans-serif;
  --tag: normal 700 1.4rem / 1.8rem 'IBM Plex Sans', sans-serif;
  --paragraph: normal 400 1.2rem / 1.6rem 'IBM Plex Sans', sans-serif;

  /* JS VARIABLES */
  --bar-filler-width: 0%;
}










/* ELEMENTS */

body {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

  background: var(--color-beige-light);
}

header {
  width : 100vw;
  height: auto;

  /* top | left | bottom | right */
  padding: 2rem 4rem 2rem 4rem;

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

  /* border-bottom: 0.1rem solid var(--color-gray-dark); */

  /* 
  background: url('https://images.unsplash.com/photo-1541829070764-84a7d30dd3f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2969&q=80');
  background-size: cover;
  background-position: 0 -25rem;
  background-repeat: no-repeat;
  */
}

main {
  width: 100vw;
  height: calc(100vh - 5rem - 10rem);

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;

  /* border: 1px solid red; */
  margin-top: 0.1rem;

  /* top | left | bottom | right */
  padding: 0 2rem 0 2rem;
}

footer {
  width: 100vw;
  height: 5rem;
  background: transparent;

  /* border-top: 1px solid var(--color-gray-dark); */

  /* Keep the footer where it should be (at the bottom of all elements */
  position: absolute;
  bottom: 0;
  padding: 2rem;
}










/* TYPE AND TYPE CLASSES */
.col-2 {
  width: 86.5rem;
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

  padding: 2rem;

  background: var(--color-white);

  border: 0.1rem solid var(--color-gray-light);
  border-radius: 2rem;
}

.col-2 div {
  width: 100%;
  height: auto;

  /* border: 1px solid red; */
}

.container-group {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  overflow: auto;
}

.container-group .container-group-name {
  width: 30%;
}

.container-groups {
  width: 100%;

  margin: 0 0 4rem 0;

  border: 0 solid red;
}

#col-2-container-groups {
  overflow: auto;
}

.profile-pic {
  width: 20rem;
  height: 20rem;

  padding: 4rem;

  background: var(--color-pink);

  border-radius: 20rem;
}

.col-2 div .container-profile, .col-2 div .container-numbers {
  height: auto;

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.col-2 div .container-numbers ul {
  width: 100%;

  /* top | left | bottom | right */
  margin: 0 0 1rem 0;

  /* top | left | bottom | right */
  padding: 0 2rem 0 2rem;

  list-style-type: none;

  display: flex;
  flex-flow: row;
  align-items: space-between;
  align-content: space-between;
  justify-content: space-between;
}

.col-2 div .bar-behind {
  height: 1.6rem;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  background: var(--color-gray-light);

  border-radius: 20rem;

  z-index: 1;
}

.col-2 div .bar-behind .my-bar-filler {
  width: var(--bar-filler-width);
  height: 100%;

  background: var(--color-purple);

  border-radius: 20rem;

  z-index: 2;

  transition-timing-function: ease-in-out;
  transition: 0.25s;
}

.seventh-height {
  height: 60%;
}










/* BUTTONS */

button {
  transition-timing-function: ease-in-out;
  transition: 0.25s;
}

.btn-logout {
  width: auto;
  height: auto;
  /* margin-top: 2rem; */
  padding: 1rem 2rem;
  background: transparent;
  border: 0.1rem solid var(--color-gray-mid);
  border-radius: 10rem;

  font: var(--heading4);
  text-align: justify;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: auto;
  color: var(--color-gray-mid);

  cursor: pointer;
}

.btn-logout:hover {
  background: var(--color-gray-mid);

  color: var(--color-beige-light);
}

.container-btns {
  width: 100%;

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.container-btns button {
  width: 33%;
  height: auto;

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

  padding: 1rem 2rem;

  border: none;
  border-radius: 1rem;

  font: var(--heading4);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: auto;

  cursor: pointer;
}

.btn-regress {
  background: var(--color-gray-dark);

  color: var(--color-white);
}

.btn-regress:hover {
  background: var(--color-gray-mid);
}

.btn-regress:disabled {
  background: var(--color-gray-light);

  color: var(--color-gray-mid);
}

.btn-help {
  background: var(--color-blue);

  color: var(--color-white);
}

.btn-help:hover {
  background: #51AAD9;
}

.btn-progress {
  background: var(--color-green);

  color: var(--color-white);
}

.btn-progress:hover {
  background: #56CF90;
}

.btn-regress:disabled {
  background: var(--color-beige-light);

  color: var(--color-gray-mid);
}










/* TYPE AND TYPE CLASSES */

h1 {
  font: var(--heading1);
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}

h2 {
  font: var(--heading2);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}

h3 {
  font: var(--heading3);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}

h4 {
  font: var(--heading4);
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}

h5 {
  font: var(--tag);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}

.container-group .container-group-name h4 {
  text-align: left;
}

.footer-p {
  font: var(--paragraph);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: var(--color-gray-dark);

  border: 0 solid transparent;

  /* top | left | bottom | right */
  margin: 0 0 0 0;

  /* top | left | bottom | right */
  padding: 0 0 0 0;
}